body
{
	background: url(html.jpg) no-repeat;
	background-size: 100% 100%;
	font-family: verdana;
	background-attachment: fixed;
	margin-left: 50px;

}	
body li{
	color:#3cb371; 
}
body p{
	color: #3cb371;
}
body h1{
	color: orange;
}
